@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@import '@flux/flux.css';

@custom-variant dark (&:where(.dark, .dark *));

/* resources/css/app.css */
@font-face {
    font-family: 'vazir';
    src: url('/resources/assets/fonts/vazir/vazir.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'vazir';
    src: url('/resources/assets/fonts/vazir/vazir.eot') format('eot');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'vazir';
    src: url('/resources/assets/fonts/vazir/vazir.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'vazir', sans-serif;
}